/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/img/matcheadas-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


/* Cajas principales y título */
.principal-box{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem; 
}

.title-logo{
    width: 20rem; 
}

.secundary-box{    
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
}

/* Caja control y points */

.control-box{    
    display: flex;
    justify-content: space-between;    
    width: 32rem;
    padding: 10px;
    background-color: rgb(226, 8, 8);
    border-radius: 10px;
    border: 5px inset #e9c00a;
}

.points-box, .help-restart-box{    
    display: flex;    
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    color: #faeeb9;
}

.combo-text, .combo-points{
    margin: 5px;    
}

.help-button, .restart-button{
    margin: 5px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.1rem;
    color: #faeeb9;
    padding: 0 3px;
    cursor: pointer;    
    transform: rotate(0);
    transition: 0.2s;
}

.help-button:hover{
    margin: 5px;
    border: none;
    outline: none; 
    background: none;   
    font-size: 1.1rem;
    color: #dbc665;
    padding: 0 3px;
    cursor: pointer;
}

.restart-button:hover{
    margin: 5px;
    border: none;
    outline: none; 
    background: none;   
    font-size: 1.1rem;
    color: #dbc665;
    padding: 0 3px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.2s;   
}

/* Caja time */
.time-box{    
    padding: 10px;
    background-color: rgb(226, 8, 8);
    border-radius: 10px;
    border: 5px inset #e9c00a;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-icon, .time-number{
    padding: 0 10px;
    font-size: 1.2rem;
    color: #faeeb9;
    font-family: 'Rajdhani', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* Estilos títulos y textos */
.controls-box{    
    margin: 10px 15px;
    font-size: 1.1rem;    
}


/* Estilos de la grilla y los emojis */
.grid-box{
    display: flex;    
    width: 32rem;
    height: 32rem;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 5px inset #e9c00a;
    margin: 20px 0;
}

.grid-box img{
    width: 100%;
    padding: 8px;  
    border-radius: 10px; 
    transition: 0.3s 
}

.grid-box img:hover{    
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s
}

.selected{
    border: inset 3px #e9c00a;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }


 /* Modales de Sweet Alert */

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.swal-modal {
    background-color: white;
    border-radius: 10px;
    border: 5px inset #e9c00a;
    font-family: 'Rajdhani', sans-serif;    
}

.swal-title {    
    font-size: 1.8rem;       
}

.swal-text {   
    text-align: center;
    font-size: 1rem;    
}

.swal-button {    
    border-radius: 10px;
    background-color: rgb(226, 8, 8);
    font-size: 0.8rem; 
    color: white;      
  }

  .swal-button:not([disabled]):hover {
    border-radius: 10px;
    background-color: rgb(158, 1, 1);
    font-size: 0.8rem;
}

/* Responsive */

@media (max-width: 500px){
    .secundary-box{
        padding: 0 1rem;
    }

    .control-box{ 
        padding: 10px 1rem;                
    }
}